<div id='main-section'>
  <section>
    <div class="cards">

      <div class="card">
        <!-- <div class="ribbon&#45;wrapper"><div class="ribbon">COUPON</div></div> -->
        <div class="card-image">
          <%= image_tag "flavors.png" %>
        </div>
        <div class="card-header">
          Flavors
        </div>
        <div class="card-copy">

        </div>
        <div class="card-stats">
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <%= link_to image_tag("kristaks-map.png"), @store.map_url %>
        </div>
        <div class="card-header">
          <span id="contact-info-title">Contact Information</span>
        </div>
        <div class="card-copy">
          <h4>882 Route 28</h4>
          <h4>West Dennis</h4>
          <h4>MA 02670</h4>
        </div>
        <div class="card-stats">
          <ul>
            <li>
              <%= number_to_phone(@store.phone_number, area_code: true) %>
              <span>Phone</span>
            </li>
            <li><%= mail_to "info@kristaks.com" %><span>Email</span></li>
          </ul>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
        </div>
        <div class="card-header">
          <span id="current-hours-title">Current Hours</span>
          We are currently:
          <% if @store.open? %>
            <em><strong>OPEN</strong></em>
          <% else %>
            <em><strong>CLOSED</strong></em>
          <% end %>
        </div>
        <div class="card-copy">
          <table>
            <thead>
              <tr>
                <th>Day</th>
                <th>Open</th>
                <th>Close</th>
              </tr>
            </thead>
            <tbody>
              <%= render @store.hours.sort %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
