<!DOCTYPE html>
<html>
<head>
  <title>Krista K's Ice Cream & Candy</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="nav">
    <div class="image-gradient">
      <div class="copy">
        <p>
          <span id='logo-text'>krista k's</span>
          <span id='logo-subtext'>ICE CREAM AND CANDY</span>
        </p>
      </div>
      <div class="overlay"></div>
    </div>
  </div>
  <%= render "nav_bar" %>
  <%= yield %>

</body>
</html>
